.navbar{
	margin-bottom: 0;
	border-radius: 0;
}
/*panel del dashboard*/
.fa-5x{
	font-size: 5em;
}
.huge{
	font-size: 40px;
}
.panel-green{
	border-color: #5cb85c;
}
.panel-green > .panel-heading{
	border-color: #5cb85c;
	color: white;
	background-color: #5cb85c;
}
.panel-green > a{
	color: #5cb85c;
}
.panel-yellow{
	border-color: #f0ad4e;
}
.panel-yellow > .panel-heading{
	border-color: #f0ad4e;
	color: white;
	background-color: #f0ad4e;
}
.panel-yellow > a{
	color: #f0ad4e;
}
/*Gridview*/
.btn-pad{
	margin: 0 5px 0 5px;	
}
#action-buttons{
	padding: 0 5px 0 5px;
	font-size: 15px;
}
.pad-5{
	padding: 15px 0 5px 0;
}
/* =============================================================
detail view
 ============================================================ */
.contact-info span {
    font-size:15px;
    padding:0px 8px 0px 8px;
}
.contact-info hr {
    margin-top: 0px;
    margin-bottom: 0px;
}